{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
     <a class="btn btn-danger align-content-sm-center" href="{{ path('logout') }}">Logout</a>
   {% for r in raul %}
       Tu admin es mister: {{ r }}
        {% endfor %}
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>
            <a class="btn btn-dark align-content-sm-center" href="{{ path('user_index') }}">Usuarios</a>
            <h2>Bienvenido {{ name }}</h2>
            </div>

        </div>
    </div>
{% endblock %}
