{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row"><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></th>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-outline-success float-left" href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-outline-danger float-left" href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-danger" href="{{ path('user_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
